


body{
    background-color: white;
}

.menubar{
    grid-area: menu;
    background-color: #141414;
    padding: 10px;
    text-align: left;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

